/video-ocr/Downloads
/video-ocr/image_frame
/video-ocr/image_frame2
/video-ocr/image_frame3
/video-ocr/image_frame4
/video-ocr/image_frame5
/video-ocr/image_frame6
/video-ocr/image_frame7
/video-ocr/image_frame8
/video-ocr/image_frame9
/video-ocr/image_frame10
/video-ocr/image_frame11
/video-ocr/9899a257681e440196a74f32afdf0f0f3
/video-ocr/9899a257681e440196a74f32afdf0f0f2
/video-ocr/9899a257681e440196a74f32afdf0f0f1
/video-ocr/9899a257681e440196a74f32afdf0f0f
/image_frames
/__MACOSX